html,
body,
#fullpage,
#tv {
    height: 100%;
    min-height: 100%;/*for mozilla*/
	width: 100%;
}

body {
    font-size: 2vh;
}

.section {
    overflow: hidden;
    position: relative;
    height: 100vh !important;
    max-height: 100vh !important;
}

.fp-tableCell {
    width: 100vw;
    height: 100vh;
}

.scroll {
    max-height: 100% !important;
    overflow: scroll;
}

.row-indent {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 15px !important;
}

#welcome,
#delete {
    background: #E53212;
    color: #ffffff;
}

#tv {
    padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

#imprint {
    background: #2A55AB;
    color: #ffffff;
    font-size: 0.75em;
}

#faq_devil {
    background: #000000;
    color: #ffffff;
}

.logo {
    float: right;
    width: 250px;
    max-width: 33.3333%;
    position: fixed;
    bottom: 1em;
    right: 1em;
    height: 88px;
    background: url('logo.php') no-repeat bottom right;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#faq,
#cancel {
    background: url('team.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-padding {
    padding: 0;
}
