html,
body,
#fullpage,
#sec_tv {
    height: 100%;
    min-height: 100%;/*for mozilla*/
	width: 100%;
}

body {
    font-size: 2vh;
}

.section {
    overflow: hidden;
    position: relative;
    height: 100vh !important;
    max-height: 100vh !important;
}

.fp-tableCell {
    width: 100vw;
    height: 100vw;
}

.row-indent {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 15px !important;
}

#sec_welcome,
#sec_delete {
    background: #E53212;
    color: #ffffff;
}

#tv {
    padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
    width: 100vw;
    height: 100vh;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

#sec_imprint,
#sec_privacy {
    background: #2A55AB;
    color: #ffffff;
    font-size: 0.75em;
}

#sec_faq2 {
    background: #000000;
    color: #ffffff;
}

#logo {
    float: right;
    width: 250px;
    max-width: 33.3333%;
    position: fixed;
    bottom: 1em;
    right: 1em;
    height: 88px;
    background: url('logo.php') no-repeat bottom right;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#sec_cancel {
    background: url('team25.jpg') no-repeat center center;
}

#sec_faq {
    background: url('team60.jpg') no-repeat center center;
}

#sec_faq,
#sec_cancel {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-padding {
    padding: 0;
}

.dialog .row {
    margin: 0 15px !important;
}

.dialog-head {
    border-radius: 0.75em 0.75em 0 0;
    height: 1.25em;
}

.dialog-foot {
    border-radius: 0 0 0.75em 0.75em;
    height: 1.25em;
}

.dialog-head {
    background: #CECECF;
}


.dialog-body,
.dialog-foot {
    background: #E9EAEB;
    color: #21252B;
    font-weight: bold;
}

.dialog-body {
    padding-top: 1em;
}

.dialog-head.dark {
    background: #21252B;
}
.dialog-body.dark,
.dialog-foot.dark {
    background: #555555;
    color: #ffffff;
}

.center {
    text-align: center;
}

.dialog {
    font-size: 1.15em;
}

.dialog img {
    max-width: 85px;
}
.icon {
    font-size: 5em;
}
.smicon {
    font-size: 3em;
}

details {
    border: 1px solid #000;
    border-radius: 0.25em;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
    outline: none;
}

#sec_faq2 summary {
    background: #000000;
}
#sec_faq2 details {
    border: 1px solid #aaa;
}

details[open] {
    padding: .5em;
    background: #ffffff;
    color: #000000;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    color: #ffffff;
    background: #000000;
}

p {
    margin-bottom: 1em !important;
}

.w3-container {
    background-color: #E53212;
    height: 1em;
    width: 10%;
}

#btn-cancel {
    color: #E53212;
    background-color: #eee;
    border-color: #E53212;
    font-weight: bold;
}
#btn-cancel:hover {
    background-color: #ccc;
}

#btn-delete {
    color: #eee;
    background-color: #E53212;
    border-color: #eee;
    font-weight: bold;
}
#btn-delete:hover {
    background-color: #EF8471;
}

#btn-more {
    color: #fff;
    background-color: #009367;
    border-color: #fff;
    font-weight: bold;
}
#btn-more:hover {
    background-color: #66BEA4;
}
